body {
   text-align: center;
}

#board {
   height: 755px;
   width: 935px;
   background-image: url('titleSet/Board.png');
   background-size: cover;
   margin:  0 auto;

}

.cell {
   position: absolute;
   width: 50px;
   height: 50px;
   background-size: contain;
}

.player1 {
   background-image: url('player1-chip.png');
}

.player2 {
   background-image: url('player2-chip.png');
}
