<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/homepage.css" rel="stylesheet">
</head>
<body>
    <table>
        <tr>
          <th>Column 1</th>
          <th>Column 2</th>
          <th>Column 3</th>
        </tr>
        <tr>
          <td>Current Queue</td>
          <td>
            <table>
                <tr>
                    <td>row1</td>
                  </tr>
                  <tr>
                    <td>row2</td>
                  </tr>
                  <tr>
                    <td>row3</td>
                  </tr>
            </table>
          </td>
          <td>Current Leaderboard</td>
        </tr>
      </table>

</body>
</html>
