* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
    color: #333;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.queue, .leaderboard, .main-buttons {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.queue, .leaderboard {
    width: 25%;
}

.main-buttons {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.queue ul, .leaderboard ul {
    list-style-type: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 80%;
    text-align: center;
}

button:hover {
    background-color: #45a049;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.queue ul li, .leaderboard ul li {
    padding: 10px;
    background-color: #eee;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
}
